/wp-admin/
/wp-includes/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentyfifteen/
/wp-content/themes/twentyfourteen/
/wp-content/themes/twentythirteen/
/wp-content/themes/index.php
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/languages/
/wp-content/plugins/
/wp-content/index.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php