# .gitignore
CONTRIBUTING.md
LICENSE.txt
README.md
README.txt
administrator/cache/
administrator/components/com_admin/
administrator/components/com_ajax/
administrator/components/com_banners/
administrator/components/com_cache/
administrator/components/com_categories/
administrator/components/com_checkin/
administrator/components/com_config/
administrator/components/com_contact/
administrator/components/com_content/
administrator/components/com_contenthistory/
administrator/components/com_cpanel/
administrator/components/com_djimageslider/
administrator/components/com_finder/
administrator/components/com_installer/
administrator/components/com_joomlaupdate/
administrator/components/com_jshopping/
administrator/components/com_languages/
administrator/components/com_login/
administrator/components/com_media/
administrator/components/com_menus/
administrator/components/com_messages/
administrator/components/com_modules/
administrator/components/com_newsfeeds/
administrator/components/com_plugins/
administrator/components/com_postinstall/
administrator/components/com_redirect/
administrator/components/com_search/
administrator/components/com_tags/
administrator/components/com_templates/
administrator/components/com_users/
administrator/components/com_weblinks/
administrator/components/index.html
administrator/help/
administrator/includes/
administrator/index.php
administrator/language/
administrator/manifests/
administrator/modules/index.html
administrator/modules/mod_custom/
administrator/modules/mod_feed/
administrator/modules/mod_latest/
administrator/modules/mod_logged/
administrator/modules/mod_login/
administrator/modules/mod_menu/
administrator/modules/mod_multilangstatus/
administrator/modules/mod_popular/
administrator/modules/mod_quickicon/
administrator/modules/mod_stats_admin/
administrator/modules/mod_status/
administrator/modules/mod_submenu/
administrator/modules/mod_title/
administrator/modules/mod_toolbar/
administrator/modules/mod_version/
administrator/templates/
cache/
cli/
components/com_ajax/
components/com_banners/
components/com_config/
components/com_contact/
components/com_content/
components/com_contenthistory/
components/com_finder/
components/com_jshopping/files/
components/com_jshopping/views/
components/com_jshopping/controllers/
components/com_jshopping/css/
components/com_jshopping/images/
components/com_jshopping/js/
components/com_jshopping/jshopping.php
components/com_jshopping/lang/
components/com_jshopping/lib/
components/com_jshopping/loadparams.php
components/com_jshopping/log/
components/com_jshopping/metadata.xml
components/com_jshopping/models/
components/com_jshopping/payments/payment.php
components/com_jshopping/router.php
components/com_jshopping/tables/
components/com_jshopping/shippings/
components/com_jshopping/templates/default/
components/com_mailto/
components/com_media/
components/com_newsfeeds/
components/com_search/
components/com_tags/
components/com_users/
components/com_weblinks/
components/com_wrapper/
components/index.html
images/
includes/
index.php
language/
layouts/
libraries/
media/
modules/mod_articles_categories/
modules/mod_articles_category/
modules/mod_articles_latest/
modules/mod_articles_news/
modules/mod_articles_popular/
modules/mod_banners/
modules/mod_breadcrumbs/
modules/mod_custom/
modules/mod_djimageslider/
modules/mod_feed/
modules/mod_finder/
modules/mod_footer/
modules/mod_jshopping_cart/
modules/mod_languages/
modules/mod_login/
modules/mod_maximenuck/
modules/mod_menu/
modules/mod_random_image/
modules/mod_related_items/
modules/mod_search/
modules/mod_stats/
modules/mod_syndicate/
modules/mod_tags_popular/
modules/mod_tags_similar/
modules/mod_users_latest/
modules/mod_weblinks/
modules/mod_whosonline/
modules/mod_wrapper/
plugins/authentication/
plugins/captcha/
plugins/content/
plugins/editors-xtd/
plugins/editors/
plugins/extension/
plugins/finder/
plugins/installer/
plugins/quickicon/
plugins/search/
plugins/system/
plugins/twofactorauth/
plugins/user/
logs/
modules/index.html
modules/mod_articles_archive/
plugins/index.html
templates/beez3/
templates/protostar/
templates/index.html
templates/system/
tmp/
webstat/
